USE [master]
GO
/****** Object:  Database [DB_WORKTIME]    Script Date: 18/05/2021 22:56:17 ******/
CREATE DATABASE [DB_WORKTIME]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_WORKTIME', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_WORKTIME.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_WORKTIME_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_WORKTIME_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_WORKTIME].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_WORKTIME]
GO
/****** Object:  User [marco]    Script Date: 18/05/2021 22:56:17 ******/
CREATE USER [marco] FOR LOGIN [marco] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 18/05/2021 22:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[idUsuario] [numeric](18, 0) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_Asistencia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsistenciaDetalle]    Script Date: 18/05/2021 22:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsistenciaDetalle](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[idAsistencia] [numeric](18, 0) NULL,
	[tipo] [varchar](1) NOT NULL,
	[hora] [time](7) NOT NULL,
	[ubicacion] [varchar](100) NOT NULL,
	[foto] [varbinary](max) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_AsistenciaDetalle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 18/05/2021 22:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/05/2021 22:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[idDepartamento] [numeric](18, 0) NOT NULL,
	[tipoIdentificacion] [char](3) NOT NULL,
	[identificacion] [varchar](15) NOT NULL,
	[nombres] [varchar](300) NOT NULL,
	[apellidos] [varchar](300) NOT NULL,
	[genero] [char](1) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([id], [nombre]) VALUES (CAST(1 AS Numeric(18, 0)), N'TECNOLOGIA DE LA INFORMACION')
INSERT [dbo].[Departamento] ([id], [nombre]) VALUES (CAST(2 AS Numeric(18, 0)), N'TALENTO HUMANO')
INSERT [dbo].[Departamento] ([id], [nombre]) VALUES (CAST(3 AS Numeric(18, 0)), N'CONTABILIDAD')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [idDepartamento], [tipoIdentificacion], [identificacion], [nombres], [apellidos], [genero], [estado]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'CED', N'1721481586', N'MARCO ANTONIO', N'AYALA', N'H', 1)
INSERT [dbo].[Usuario] ([id], [idDepartamento], [tipoIdentificacion], [identificacion], [nombres], [apellidos], [genero], [estado]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'CED', N'1719343020', N'MARIA BELEN', N'NARVAEZ CHICAIZA', N'M', 1)
INSERT [dbo].[Usuario] ([id], [idDepartamento], [tipoIdentificacion], [identificacion], [nombres], [apellidos], [genero], [estado]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'CED', N'1706067426', N'CAROLINA ESTEFANIA', N'SALINAS GALLARDO', N'M', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioAsistencia] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_UsuarioAsistencia]
GO
ALTER TABLE [dbo].[AsistenciaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_AsistenciaDetalle] FOREIGN KEY([idAsistencia])
REFERENCES [dbo].[Asistencia] ([id])
GO
ALTER TABLE [dbo].[AsistenciaDetalle] CHECK CONSTRAINT [FK_AsistenciaDetalle]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioDepartamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_UsuarioDepartamento]
GO
USE [master]
GO
